    <div style="display: flex; width: 100%;">
      <!-- News Section -->
      <!-- <div class="news" style="width: 70%;"> -->
              
          <div class="news" style="width: 70%;">
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">News</a></h2>
            {% if site.news != blank -%}
            {%- assign news_size = site.news | size -%}
            <div class="table-responsive" {% if include.limit and site.announcements.scrollable and news_size > 3 %}style="max-height: 60vw"{% endif %}>
              <table class="table-dark table-sm table-borderless">
              {%- assign news = site.news | reverse -%}
              {% if include.limit and site.announcements.limit %}
              {% assign news_limit = site.announcements.limit %}
              {% else %}
              {% assign news_limit = news_size %}
              {% endif %}
              {% for item in news limit: news_limit %}
                <tr>
                  <!-- <th scope="row">{{ item.date | date: "%b %-d" }} <br> {{ item.date | date: "%Y" }}</th> -->
                  <!-- <th scope="row">{{ item.date | date: "%b %Y" }}</th> -->
                  <!-- <th scope="row" style="width:15%">{{ item.date | date: "%b %d, %Y" }}</th> -->
                  <th scope="row" style="width:12%; text-align: left;">{{ item.date | date: "%Y.%m" }}</th>
                  <td>
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                  </td>
                </tr>
              {%- endfor %}
              </table>
            </div>
          {%- else -%}
            <p>No news so far...</p>
          {%- endif %}
          </div>

      <!-- </div>   -->


      <!-- <div class="news" style="width: 30%;"> -->
              
        <div class="news" style="width: 30%;">
          <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">Travels</a></h2>

          <div class="table-responsive" {% if include.limit and site.announcements.scrollable > 3 %}style="max-height: 60vw"{% endif %}>
            <table class="table-dark table-sm table-borderless">
            
              <tr>
                <th scope="row" style="width:12%; text-align: left;">{{ "2024-11-09" | date: "%Y.%m.%d" }}</th>
                <td> <a class="news-title"> San José, Costa Rica <br> <span style="color:#EB7F00">CSCW 2024</span> </a> </td>
              </tr>

            <tr>
              <th scope="row" style="width:12%; text-align: left;">{{ "2024-10-13" | date: "%Y.%m.%d" }}</th>
              <td> <a class="news-title"> Pittsburgh, PA <br> <span style="color:#EB7F00">UIST 2024</span> </a> </td>
            </tr>

            <tr>
              <th scope="row" style="width:12%; text-align: left;">{{ "2024-05-11" | date: "%Y.%m.%d" }}</th>
              <td> <a class="news-title"> Honolulu, HI <br> <span style="color:#EB7F00">CHI 2024</span> </a> </td>
            </tr>

            <tr>
              <th scope="row" style="width:12%; text-align: left;">{{ "2024-04" | date: "%Y.%m.%d" }}</th>
              <td> <a class="news-title"> San Francisco, CA <br> <span style="color:#EB7F00">TBD</span> </a> </td>
            </tr>

            <tr>
              <th scope="row" style="width:12%; text-align: left;">{{ "2024-04" | date: "%Y.%m.%d" }}</th>
              <td> <a class="news-title"> Seattle, WA <br> <span style="color:#EB7F00">TBD</span> </a> </td>
            </tr>

            <tr>
              <th scope="row" style="width:12%; text-align: left;">{{ "2024-03-22" | date: "%Y.%m.%d" }}</th>
              <td> <a class="news-title"> New York, NY <br> <span style="color:#EB7F00">TBD</span> </a> </td>
            </tr>

            <tr>
              <th scope="row" style="width:12%; text-align: left;">{{ "2024-03-18" | date: "%Y.%m.%d" }}</th>
              <td> <a class="news-title"> Boston, MA <br> <span style="color:#EB7F00">AMIA Summit</span> </a> </td>
            </tr>

            <tr>
              <th scope="row" style="width:12%; text-align: left;">{{ "2024-03-04" | date: "%Y.%m.%d" }}</th>
              <td> <a class="news-title"> Los Angeles, CA <br> <span style="color:#EB7F00">Visit USC</span> </a> </td>
            </tr>

            <tr>
              <th scope="row" style="width:12%; text-align: left;">{{ "2024-01-20" | date: "%Y.%m.%d" }}</th>
              <td> <a class="news-title"> Seattle, WA <br> <span style="color:#EB7F00">Visit UW & Meta</span> </a> </td>
            </tr>



            </table>
          </div>

        </div>

      <!-- </div>   -->



    </div>